.main{
    display: flex;
    justify-content: space-evenly;
    /* margin: auto; */
    margin-top: 40px;
    background-color: #ffff00;
   
   

}
.content a{
    text-decoration: none;
          }
.link{
    float: right;
    margin: 30px 0px;

}
.profile{
    border: 1px solid #4d90fe;
    margin-left: 20px; 
    border-radius: 2px;
    text-align: center;
    padding: 6px 16px;
    text-decoration: none;
    color: blue;
        }
.profile:hover{
    text-decoration: underline;


}
.ft{
    font-size: larger;
   

}
.follow{
padding: 08px 20px;
border: 1px solid;
background-color: #4d90fe;
  /* border-width: 30px; */
  cursor: pointer;
  color: #fff;
  border-radius: 5px;
  
 
}
.follow:hover{
    background-color: #2b79f6;
}
.simg{
    border-radius: 100%;
    margin-top: 20px;
}
.gc{
    /* border: 1px solid #4d90fe; */
  text-align: left;
  width: 1000px;
 margin: auto;
  margin-top: 40px;
  background-color: rgba(128, 128, 128, 0.379);
  vertical-align: middle;


  
}
.gc a{
    text-align: center;
    margin: 10px 0px;
    text-decoration: none;

}
.gc-1{
    margin: 10px 0px;
    
    text-align: right;
}
.gc-1 a{
    
    margin-top: 10px 0px;
    text-align: center;
    text-decoration: none;
    padding: 0px 70px;
}
.bg{
    margin: 50px;
    border: 0px solid black;
    width: 80%;
    height: 50px;
    display: flex;
    
    align-items: center;
   background-color: rgba(217, 232, 245, 0.5);

}
.bg a{
    text-decoration: none;
   padding-left: 10px;
}
.bg a:hover{
    text-decoration: underline;
}
.pbl{
   
    width: 50% 10%;
    margin-left: 50px;
    /* padding-bottom: 50px; */
}
.pbl a{
    text-decoration: none;
}
.pbl a:hover{
    text-decoration: underline;
}

.para{
    color: #777777;
    text-align: justify;
 
}
@media (min-width:200px) and (max-width:600px) {
    .main{
        display: block;
        width: 100%;
    }
    
}